In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plot

In [15]:
edu = pd.read_excel('../data/EDU_Table4_Week11.xlsx', sheet_name=0, skip_rows=[0,1,2], header=[5], index_col=0,skipfooter=1, nafilter=False, keep_default_na=False)

In [16]:
edu

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
Total,64791798,23411291,45921832,1742691,3213552,1568002,59473144,1047396,3726926
Age,,,,,,,,,
18 - 24,5491668,2189694,3959848,144252,283439,128922,4881261,102522,532451
25 - 39,22737811,7562184,15252837,706880,1708739,529883,20517191,571455,1324179
40 - 54,27238884,10408093,20095619,697799,892695,622215,25550921,235499,1273015
55 - 64,6406923,2234078,4714302,126652,197657,143136,5892759,127355,324016
65 and above,2916512,1017241,1899226,67107,131023,143846,2631012,10565,273266
Sex,,,,,,,,,
Male,29694322,9465827,22174999,713194,1318740,579717,27314264,324952,1878565
Female,35097476,13945464,23746832,1029496,1894813,988285,32158880,722445,1848361
Hispanic origin and Race,,,,,,,,,
Hispanic or Latino (may be of any race),15118778,6450319,9321573,476617,1025717,608007,13704900,290418,859905
"White alone, not Hispanic",33716417,11435761,25847487,581454,1294777,377556,31709943,327114,1588160
"Black alone, not Hispanic",9363881,3261441,6076853,511629,535963,269682,8123963,320847,800525
"Asian alone, not Hispanic",3346197,996572,2621450,50875,133659,94358,3050684,27055,191650
"Two or more races + Other races, not Hispanic",3246525,1267197,2054469,122116,223436,218399,2883654,81963,286687
Education,,,,,,,,,
Less than high school,7832886,3545329,3977894,299833,1012623,742640,6637526,167471,768546
High school or GED,19638711,7262000,13034471,665184,1060665,325302,17907193,321332,1286557
Some college/associate’s degree,20246560,7507861,14739677,567006,741681,280203,18632901,442962,1080189
Bachelor’s degree or higher,17073640,5096101,14169790,210667,398584,219857,16295523,115631,591634
Marital status,,,,,,,,,
Married,41050037,14380799,30528336,945172,1558512,836034,38386585,490190,1905226
Widowed,1285675,488520,901637,25855,17045,53465,1193243,16489,40914
Divorced/separated,8314512,2872737,5431843,174256,800105,136854,7493607,160646,582898
Never married,13950041,5599171,8942612,594232,828497,537192,12246552,375798,1168242
Did not report,191532,70063,117404,3176,9392,4456,153156,4274,29646
Presence of children under 18 years old,,,,,,,,,
Children in household,64229387,23068724,45639150,1730851,3147886,1546766,59000716,1043715,3661047
No children,562411,342567,282682,11839,65667,21235,472428,3682,65879
Respondent or household member experienced loss of employment income,,,,,,,,,
Yes,38757083,14274021,26513767,1193789,1952303,688145,35476086,709176,2323558
No,25909001,9086591,19331913,548901,1257847,857176,23895930,338220,1401463
Did not report,125714,50678,76151,-,3403,22681,101128,-,1905
Respondent currently employed,,,,,,,,,
Yes,37518168,12855592,28053141,839672,1742898,531216,34786087,586666,2021701
No,27200617,10541137,17813151,903019,1466903,1032330,24626363,460731,1697363
Did not report,73012,14561,55539,-,3751,4456,60694,-,7862
"Food sufficiency for households prior to March 13, 2020",,,,,,,,,
Enough of the types of food wanted,40407721,13647358,31224730,670010,1257264,938385,38025450,419849,1803113
"Enough food, but not always the types wanted",17498213,6807954,11721526,523326,936147,221170,16062488,235350,1083540
Sometimes not enough to eat,5743690,2520812,2577773,423440,703072,268413,4700717,282645,600368
Often not enough to eat,965454,401377,351050,124580,222004,54337,603736,109553,229636
Did not report,176718,33790,46753,1334,95066,85696,80753,-,10269
Household income,,,,,,,,,
"Less than $25,000",9782802,4205699,5200954,613601,1002593,534744,8462849,382465,650127
"$25,000 - $34,999",8242665,3214091,5448445,335370,246249,226047,7794123,164518,167804
"$35,000 - $49,999",7478873,3105665,4741575,220962,247591,245894,7087366,116350,218550
"$50,000 - $74,999",9944327,3798140,7353946,237520,171027,60758,9619800,170030,144698
"$75,000 - $99,999",8190132,2866424,6516869,133669,166003,223083,8076266,27588,73644
"$100,000 - $149,999",9175948,2877592,7701725,74721,37463,174052,8985470,104710,49058
"$150,000 - $199,999",3905658,1139150,3324041,17112,17279,37076,3861044,15264,21668
"$200,000 and above",4742838,1437169,4103236,13504,66063,54622,4640585,45434,38565
Did not report,3328554,767360,1531040,96233,1259284,11725,945641,21037,2362811

In [17]:
edu.rename(columns={'Unnamed: 1' : 'Total','Unnamed: 2' : 'Provided by the children’s school or school district to use outside of school(device)','Unnamed: 3':'Provided by someone in the household or family, or it is the child’s',
                    'Unnamed: 4' : 'Provided by another source','Unnamed: 5' : 'Did not report',
                    'Unnamed: 6' : 'Paid for by the children’s school or school district(internet)', 'Unnamed: 7' : 'Paid for by someone in the household or family',
                    'Unnamed: 8' : 'Paid for by another source', 'Unnamed: 9' : 'Did not report'},level=0,inplace=True)

In [18]:
edu

,Total,Provided by the children’s school or school district to use outside of school(device),"Provided by someone in the household or family, or it is the child’s",Provided by another source,Did not report,Paid for by the children’s school or school district(internet),Paid for by someone in the household or family,Paid for by another source,Did not report
Total,64791798,23411291,45921832,1742691,3213552,1568002,59473144,1047396,3726926
Age,,,,,,,,,
18 - 24,5491668,2189694,3959848,144252,283439,128922,4881261,102522,532451
25 - 39,22737811,7562184,15252837,706880,1708739,529883,20517191,571455,1324179
40 - 54,27238884,10408093,20095619,697799,892695,622215,25550921,235499,1273015
55 - 64,6406923,2234078,4714302,126652,197657,143136,5892759,127355,324016
65 and above,2916512,1017241,1899226,67107,131023,143846,2631012,10565,273266
Sex,,,,,,,,,
Male,29694322,9465827,22174999,713194,1318740,579717,27314264,324952,1878565
Female,35097476,13945464,23746832,1029496,1894813,988285,32158880,722445,1848361
Hispanic origin and Race,,,,,,,,,
Hispanic or Latino (may be of any race),15118778,6450319,9321573,476617,1025717,608007,13704900,290418,859905
"White alone, not Hispanic",33716417,11435761,25847487,581454,1294777,377556,31709943,327114,1588160
"Black alone, not Hispanic",9363881,3261441,6076853,511629,535963,269682,8123963,320847,800525
"Asian alone, not Hispanic",3346197,996572,2621450,50875,133659,94358,3050684,27055,191650
"Two or more races + Other races, not Hispanic",3246525,1267197,2054469,122116,223436,218399,2883654,81963,286687
Education,,,,,,,,,
Less than high school,7832886,3545329,3977894,299833,1012623,742640,6637526,167471,768546
High school or GED,19638711,7262000,13034471,665184,1060665,325302,17907193,321332,1286557
Some college/associate’s degree,20246560,7507861,14739677,567006,741681,280203,18632901,442962,1080189
Bachelor’s degree or higher,17073640,5096101,14169790,210667,398584,219857,16295523,115631,591634
Marital status,,,,,,,,,
Married,41050037,14380799,30528336,945172,1558512,836034,38386585,490190,1905226
Widowed,1285675,488520,901637,25855,17045,53465,1193243,16489,40914
Divorced/separated,8314512,2872737,5431843,174256,800105,136854,7493607,160646,582898
Never married,13950041,5599171,8942612,594232,828497,537192,12246552,375798,1168242
Did not report,191532,70063,117404,3176,9392,4456,153156,4274,29646
Presence of children under 18 years old,,,,,,,,,
Children in household,64229387,23068724,45639150,1730851,3147886,1546766,59000716,1043715,3661047
No children,562411,342567,282682,11839,65667,21235,472428,3682,65879
Respondent or household member experienced loss of employment income,,,,,,,,,
Yes,38757083,14274021,26513767,1193789,1952303,688145,35476086,709176,2323558
No,25909001,9086591,19331913,548901,1257847,857176,23895930,338220,1401463
Did not report,125714,50678,76151,-,3403,22681,101128,-,1905
Respondent currently employed,,,,,,,,,
Yes,37518168,12855592,28053141,839672,1742898,531216,34786087,586666,2021701
No,27200617,10541137,17813151,903019,1466903,1032330,24626363,460731,1697363
Did not report,73012,14561,55539,-,3751,4456,60694,-,7862
"Food sufficiency for households prior to March 13, 2020",,,,,,,,,
Enough of the types of food wanted,40407721,13647358,31224730,670010,1257264,938385,38025450,419849,1803113
"Enough food, but not always the types wanted",17498213,6807954,11721526,523326,936147,221170,16062488,235350,1083540
Sometimes not enough to eat,5743690,2520812,2577773,423440,703072,268413,4700717,282645,600368
Often not enough to eat,965454,401377,351050,124580,222004,54337,603736,109553,229636
Did not report,176718,33790,46753,1334,95066,85696,80753,-,10269
Household income,,,,,,,,,
"Less than $25,000",9782802,4205699,5200954,613601,1002593,534744,8462849,382465,650127
"$25,000 - $34,999",8242665,3214091,5448445,335370,246249,226047,7794123,164518,167804
"$35,000 - $49,999",7478873,3105665,4741575,220962,247591,245894,7087366,116350,218550
"$50,000 - $74,999",9944327,3798140,7353946,237520,171027,60758,9619800,170030,144698
"$75,000 - $99,999",8190132,2866424,6516869,133669,166003,223083,8076266,27588,73644
"$100,000 - $149,999",9175948,2877592,7701725,74721,37463,174052,8985470,104710,49058
"$150,000 - $199,999",3905658,1139150,3324041,17112,17279,37076,3861044,15264,21668
"$200,000 and above",4742838,1437169,4103236,13504,66063,54622,4640585,45434,38565
Did not report,3328554,767360,1531040,96233,1259284,11725,945641,21037,2362811

In [19]:
edu.index = edu.index.str.strip()

In [21]:
edu.drop(['Age','Sex','Hispanic origin and Race','Education', 'Marital status' , 'Presence of children under 18 years old',
          'Respondent or household member experienced loss of employment income',
          'Respondent currently employed','Food sufficiency for households prior to March 13, 2020','Household income' ], axis=0,inplace=True)

In [23]:
edu.index = ['Total', '18 - 24', '25 - 39', '40 - 54', '55 - 64', '65 and above',
       'Male', 'Female', 'Hispanic or Latino (may be of any race)',
       'White alone, not Hispanic', 'Black alone, not Hispanic',
       'Asian alone, not Hispanic',
       'Two or more races + Other races, not Hispanic',
       'Less than high school', 'High school or GED',
       'Some college/associate’s degree', 'Bachelor’s degree or higher',
       'Married', 'Widowed', 'Divorced/separated', 'Never married',
       'Did not report marriage status', 'Children in household', 'No children', 'Respondent or household member experienced loss of employment income : Yes',
       'Respondent or household member experienced loss of employment income : No','Did not report loss of employment income',
       'Currently employed: Yes', 'Currently employed: No',
       'Did not report employment status', 'Enough of the types of food wanted(prior to March 13, 2020)',
       'Enough food, but not always the types wanted(prior to March 13, 2020)',
       'Sometimes not enough to eat(prior to March 13, 2020)', 'Often not enough to eat(prior to March 13, 2020)',
       'Did not report food sufficiency', 'Less than $25,000', '$25,000 - $34,999',
       '$35,000 - $49,999', '$50,000 - $74,999', '$75,000 - $99,999',
       '$100,000 - $149,999', '$150,000 - $199,999', '$200,000 and above',
       'Did not report income']

In [24]:
edu

,Total,Provided by the children’s school or school district to use outside of school(device),"Provided by someone in the household or family, or it is the child’s",Provided by another source,Did not report,Paid for by the children’s school or school district(internet),Paid for by someone in the household or family,Paid for by another source,Did not report
Total,64791798,23411291,45921832,1742691,3213552,1568002,59473144,1047396,3726926
18 - 24,5491668,2189694,3959848,144252,283439,128922,4881261,102522,532451
25 - 39,22737811,7562184,15252837,706880,1708739,529883,20517191,571455,1324179
40 - 54,27238884,10408093,20095619,697799,892695,622215,25550921,235499,1273015
55 - 64,6406923,2234078,4714302,126652,197657,143136,5892759,127355,324016
65 and above,2916512,1017241,1899226,67107,131023,143846,2631012,10565,273266
Male,29694322,9465827,22174999,713194,1318740,579717,27314264,324952,1878565
Female,35097476,13945464,23746832,1029496,1894813,988285,32158880,722445,1848361
Hispanic or Latino (may be of any race),15118778,6450319,9321573,476617,1025717,608007,13704900,290418,859905
"White alone, not Hispanic",33716417,11435761,25847487,581454,1294777,377556,31709943,327114,1588160
"Black alone, not Hispanic",9363881,3261441,6076853,511629,535963,269682,8123963,320847,800525
"Asian alone, not Hispanic",3346197,996572,2621450,50875,133659,94358,3050684,27055,191650
"Two or more races + Other races, not Hispanic",3246525,1267197,2054469,122116,223436,218399,2883654,81963,286687
Less than high school,7832886,3545329,3977894,299833,1012623,742640,6637526,167471,768546
High school or GED,19638711,7262000,13034471,665184,1060665,325302,17907193,321332,1286557
Some college/associate’s degree,20246560,7507861,14739677,567006,741681,280203,18632901,442962,1080189
Bachelor’s degree or higher,17073640,5096101,14169790,210667,398584,219857,16295523,115631,591634
Married,41050037,14380799,30528336,945172,1558512,836034,38386585,490190,1905226
Widowed,1285675,488520,901637,25855,17045,53465,1193243,16489,40914
Divorced/separated,8314512,2872737,5431843,174256,800105,136854,7493607,160646,582898
Never married,13950041,5599171,8942612,594232,828497,537192,12246552,375798,1168242
Did not report marriage status,191532,70063,117404,3176,9392,4456,153156,4274,29646
Children in household,64229387,23068724,45639150,1730851,3147886,1546766,59000716,1043715,3661047
No children,562411,342567,282682,11839,65667,21235,472428,3682,65879
Respondent or household member experienced loss of employment income : Yes,38757083,14274021,26513767,1193789,1952303,688145,35476086,709176,2323558
Respondent or household member experienced loss of employment income : No,25909001,9086591,19331913,548901,1257847,857176,23895930,338220,1401463
Did not report loss of employment income,125714,50678,76151,-,3403,22681,101128,-,1905
Currently employed: Yes,37518168,12855592,28053141,839672,1742898,531216,34786087,586666,2021701
Currently employed: No,27200617,10541137,17813151,903019,1466903,1032330,24626363,460731,1697363
Did not report employment status,73012,14561,55539,-,3751,4456,60694,-,7862
"Enough of the types of food wanted(prior to March 13, 2020)",40407721,13647358,31224730,670010,1257264,938385,38025450,419849,1803113
"Enough food, but not always the types wanted(prior to March 13, 2020)",17498213,6807954,11721526,523326,936147,221170,16062488,235350,1083540
"Sometimes not enough to eat(prior to March 13, 2020)",5743690,2520812,2577773,423440,703072,268413,4700717,282645,600368
"Often not enough to eat(prior to March 13, 2020)",965454,401377,351050,124580,222004,54337,603736,109553,229636
Did not report food sufficiency,176718,33790,46753,1334,95066,85696,80753,-,10269
"Less than $25,000",9782802,4205699,5200954,613601,1002593,534744,8462849,382465,650127
"$25,000 - $34,999",8242665,3214091,5448445,335370,246249,226047,7794123,164518,167804
"$35,000 - $49,999",7478873,3105665,4741575,220962,247591,245894,7087366,116350,218550
"$50,000 - $74,999",9944327,3798140,7353946,237520,171027,60758,9619800,170030,144698
"$75,000 - $99,999",8190132,2866424,6516869,133669,166003,223083,8076266,27588,73644
"$100,000 - $149,999",9175948,2877592,7701725,74721,37463,174052,8985470,104710,49058
"$150,000 - $199,999",3905658,1139150,3324041,17112,17279,37076,3861044,15264,21668
"$200,000 and above",4742838,1437169,4103236,13504,66063,54622,4640585,45434,38565
Did not report income,3328554,767360,1531040,96233,1259284,11725,945641,21037,2362811