In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plot

In [2]:
edu = pd.read_excel('../data/EDU_Table2_Week8.xlsx', sheet_name=0, skip_rows=[0,1,2], header=[4,5], index_col=0,skipfooter=1, nafilter=False, keep_default_na=False)

In [3]:
edu = edu.iloc[:, :7]

In [5]:
edu.rename(columns={'Unnamed: 1_level_0' : '','Where classes were cancelled' : '','Where classes changed in another way':'',
                    'Where no change to classes because schools did not close' : '','Did not report' : ''},level=0,inplace=True)
edu.rename(columns={'Unnamed: 1_level_1':'Total', 'Unnamed: 4_level_1' : 'Where classes were cancelled',
                       'Unnamed: 5_level_1' : 'Where classes changed in another way', 'Unnamed: 6_level_1' : 'Where no change to classes because schools did not close',
                       'Unnamed: 7_level_1' : 'Did not report'}, level=1,inplace=True)

In [6]:
edu.index = edu.index.str.strip()

In [7]:
edu.drop(['Age','Sex','Hispanic origin and Race','Education', 'Marital status' , 'Presence of children under 18 years old',
          'Respondent or household member experienced loss of employment income','Mean weekly hours spent on…',
          'Respondent currently employed','Food sufficiency for households prior to March 13, 2020','Household income' ], axis=0,inplace=True)

In [8]:
edu.index = ['Total', '18 - 24', '25 - 39', '40 - 54', '55 - 64', '65 and above',
       'Male', 'Female', 'Hispanic or Latino (may be of any race)',
       'White alone, not Hispanic', 'Black alone, not Hispanic',
       'Asian alone, not Hispanic',
       'Two or more races + Other races, not Hispanic',
       'Less than high school', 'High school or GED',
       'Some college/associate’s degree', 'Bachelor’s degree or higher',
       'Married', 'Widowed', 'Divorced/separated', 'Never married',
       'Did not report marriage status', 'Children in household', 'No children', 'Respondent or household member experienced loss of employment income : Yes',
       'Respondent or household member experienced loss of employment income : No','Did not report loss of employment income', 'All teaching activities with children(mean weekly hours)',
       'Live virtual contact between students and their teachers(mean weekly hours)', 'Currently employed: Yes', 'Currently employed: No',
       'Did not report employment status', 'Enough of the types of food wanted(prior to March 13, 2020)',
       'Enough food, but not always the types wanted(prior to March 13, 2020)',
       'Sometimes not enough to eat(prior to March 13, 2020)', 'Often not enough to eat(prior to March 13, 2020)',
       'Did not report food sufficiency', 'Less than $25,000', '$25,000 - $34,999',
       '$35,000 - $49,999', '$50,000 - $74,999', '$75,000 - $99,999',
       '$100,000 - $149,999', '$150,000 - $199,999', '$200,000 and above',
       'Did not report income']

In [9]:
edu

                                                              \
                                                       Total
Total                                               63519487
18 - 24                                              4915702
25 - 39                                             22019456
40 - 54                                             27547479
55 - 64                                              5955981
65 and above                                         3080869
Male                                                28986028
Female                                              34533459
Hispanic or Latino (may be of any race)             14368892
White alone, not Hispanic                           33258670
Black alone, not Hispanic                            9680603
Asian alone, not Hispanic                            3566309
Two or more races + Other races, not Hispanic        2645012
Less than high school                                8011440
High school or GED                                  19062958
Some college/associate’s degree                     19487566
Bachelor’s degree or higher                         16957523
Married                                             39917791
Widowed                                              1065819
Divorced/separated                                   8230296
Never married                                       14158291
Did not report marriage status                        147291
Children in household                               63023506
No children                                           495981
Respondent or household member experienced loss...  36244232
Respondent or household member experienced loss...  27198555
Did not report loss of employment income               76701
All teaching activities with children(mean week...   5.91268
Live virtual contact between students and their...   2.42301
Currently employed: Yes                             39243218
Currently employed: No                              24164084
Did not report employment status                      112185
Enough of the types of food wanted(prior to Mar...  40251867
Enough food, but not always the types wanted(pr...  17027566
Sometimes not enough to eat(prior to March 13, ...   5175420
Often not enough to eat(prior to March 13, 2020)      973418
Did not report food sufficiency                        91215
Less than $25,000                                    9541003
$25,000 - $34,999                                    7043025
$35,000 - $49,999                                    7453436
$50,000 - $74,999                                   10792298
$75,000 - $99,999                                    7017621
$100,000 - $149,999                                  9141378
$150,000 - $199,999                                  4248739
$200,000 and above                                   4937695
Did not report income                                3344293

                                                   Classes were moved to a distance learning format  \
                                                                             Using online resources
Total                                                                                      46019802
18 - 24                                                                                     3982497
25 - 39                                                                                    14524181
40 - 54                                                                                    21175382
55 - 64                                                                                     4291549
65 and above                                                                                2046193
Male                                                                                       20731315
Female                                                                                     25288487
Hispanic or Latino (may be of any race)                                                     9687973
White alone, not Hispanic                                                                  25529768
Black alone, not Hispanic                                                                   6098384
Asian alone, not Hispanic                                                                   2745138
Two or more races + Other races, not Hispanic                                               1958538
Less than high school                                                                       4694216
High school or GED                                                                         12221442
Some college/associate’s degree                                                            14539100
Bachelor’s degree or higher                                                                14565044
Married                                                                                    30075507
Widowed                                                                                      692185
Divorced/separated                                                                          5536959
Never married                                                                               9627135
Did not report marriage status                                                                88017
Children in household                                                                      45757105
No children                                                                                  262697
Respondent or household member experienced loss...                                         25031202
Respondent or household member experienced loss...                                         20916070
Did not report loss of employment income                                                      72529
All teaching activities with children(mean week...                                          5.60593
Live virtual contact between students and their...                                          2.29467
Currently employed: Yes                                                                    30147392
Currently employed: No                                                                     15767736
Did not report employment status                                                             104674
Enough of the types of food wanted(prior to Mar...                                         31611616
Enough food, but not always the types wanted(pr...                                         11192107
Sometimes not enough to eat(prior to March 13, ...                                          2562257
Often not enough to eat(prior to March 13, 2020)                                             581800
Did not report food sufficiency                                                               72022
Less than $25,000                                                                           5453189
$25,000 - $34,999                                                                           4684709
$35,000 - $49,999                                                                           5052325
$50,000 - $74,999                                                                           7673847
$75,000 - $99,999                                                                           5687942
$100,000 - $149,999                                                                         7586313
$150,000 - $199,999                                                                         3664581
$200,000 and above                                                                          4391589
Did not report income                                                                       1825306

                                                                                    \
                                                   Using paper materials sent home
Total                                                                     12467956
18 - 24                                                                     473213
25 - 39                                                                    5911473
40 - 54                                                                    4817546
55 - 64                                                                     843731
65 and above                                                                421994
Male                                                                       4887080
Female                                                                     7580876
Hispanic or Latino (may be of any race)                                    2120007
White alone, not Hispanic                                                  7084341
Black alone, not Hispanic                                                  2142616
Asian alone, not Hispanic                                                   508041
Two or more races + Other races, not Hispanic                               612951
Less than high school                                                      1567767
High school or GED                                                         3381935
Some college/associate’s degree                                            4350577
Bachelor’s degree or higher                                                3167676
Married                                                                    7935949
Widowed                                                                     203597
Divorced/separated                                                         1638308
Never married                                                              2666929
Did not report marriage status                                               23172
Children in household                                                     12409898
No children                                                                  58058
Respondent or household member experienced loss...                         6940538
Respondent or household member experienced loss...                         5520841
Did not report loss of employment income                                      6576
All teaching activities with children(mean week...                         6.74071
Live virtual contact between students and their...                         2.41901
Currently employed: Yes                                                    7630627
Currently employed: No                                                     4800766
Did not report employment status                                             36563
Enough of the types of food wanted(prior to Mar...                         7358251
Enough food, but not always the types wanted(pr...                         3808176
Sometimes not enough to eat(prior to March 13, ...                         1051850
Often not enough to eat(prior to March 13, 2020)                            232476
Did not report food sufficiency                                              17202
Less than $25,000                                                          2167230
$25,000 - $34,999                                                          1613329
$35,000 - $49,999                                                          1393897
$50,000 - $74,999                                                          2090807
$75,000 - $99,999                                                          1615071
$100,000 - $149,999                                                        1825877
$150,000 - $199,999                                                         647837
$200,000 and above                                                          588868
Did not report income                                                       525039

                                                                                 \
                                                   Where classes were cancelled
Total                                                                  27300693
18 - 24                                                                 1702802
25 - 39                                                                10564165
40 - 54                                                                10911553
55 - 64                                                                 2669835
65 and above                                                            1452338
Male                                                                   13121321
Female                                                                 14179372
Hispanic or Latino (may be of any race)                                 6643656
White alone, not Hispanic                                              12975836
Black alone, not Hispanic                                               4851207
Asian alone, not Hispanic                                               1619581
Two or more races + Other races, not Hispanic                           1210413
Less than high school                                                   4353066
High school or GED                                                      9517442
Some college/associate’s degree                                         7838722
Bachelor’s degree or higher                                             5591464
Married                                                                16686462
Widowed                                                                  519536
Divorced/separated                                                      3669165
Never married                                                           6382431
Did not report marriage status                                            43099
Children in household                                                  27039966
No children                                                              260728
Respondent or household member experienced loss...                     17156989
Respondent or household member experienced loss...                     10079675
Did not report loss of employment income                                  64029
All teaching activities with children(mean week...                      6.15706
Live virtual contact between students and their...                       2.4056
Currently employed: Yes                                                15819827
Currently employed: No                                                 11382348
Did not report employment status                                          98518
Enough of the types of food wanted(prior to Mar...                     16112232
Enough food, but not always the types wanted(pr...                      7757030
Sometimes not enough to eat(prior to March 13, ...                      2892342
Often not enough to eat(prior to March 13, 2020)                         508009
Did not report food sufficiency                                           31079
Less than $25,000                                                       4895787
$25,000 - $34,999                                                       3802201
$35,000 - $49,999                                                       3791138
$50,000 - $74,999                                                       4978783
$75,000 - $99,999                                                       2665434
$100,000 - $149,999                                                     3095241
$150,000 - $199,999                                                     1355940
$200,000 and above                                                      1538069
Did not report income                                                   1178101

                                                                                         \
                                                   Where classes changed in another way
Total                                                                           2545079
18 - 24                                                                           90918
25 - 39                                                                          935628
40 - 54                                                                          972365
55 - 64                                                                          257193
65 and above                                                                     288975
Male                                                                             996713
Female                                                                          1548367
Hispanic or Latino (may be of any race)                                          563212
White alone, not Hispanic                                                       1077037
Black alone, not Hispanic                                                        677807
Asian alone, not Hispanic                                                         85108
Two or more races + Other races, not Hispanic                                    141915
Less than high school                                                            669179
High school or GED                                                               762282
Some college/associate’s degree                                                  692869
Bachelor’s degree or higher                                                      420750
Married                                                                         1354205
Widowed                                                                           99342
Divorced/separated                                                               444389
Never married                                                                    635143
Did not report marriage status                                                    12000
Children in household                                                           2508450
No children                                                                       36630
Respondent or household member experienced loss...                              1580005
Respondent or household member experienced loss...                               965074
Did not report loss of employment income                                              -
All teaching activities with children(mean week...                              7.93721
Live virtual contact between students and their...                              3.67304
Currently employed: Yes                                                         1247025
Currently employed: No                                                          1297579
Did not report employment status                                                    476
Enough of the types of food wanted(prior to Mar...                              1439789
Enough food, but not always the types wanted(pr...                               749865
Sometimes not enough to eat(prior to March 13, ...                               320089
Often not enough to eat(prior to March 13, 2020)                                  35337
Did not report food sufficiency                                                       -
Less than $25,000                                                                558060
$25,000 - $34,999                                                                306026
$35,000 - $49,999                                                                318869
$50,000 - $74,999                                                                422488
$75,000 - $99,999                                                                193064
$100,000 - $149,999                                                              267737
$150,000 - $199,999                                                              184327
$200,000 and above                                                               105255
Did not report income                                                            189253

                                                                                                             \